%h1 Новости
%ul.list-group
  - @news.each do |item|
    %li.list-group-item
      %time
        = item['date']
      %br/
      = link_to item['name'], news_path(item['id'])
      %br/
      = item['body']